@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-size: 28px;
  max-width: 2880px;
  padding: 0px 120px 117px 120px;
}

header {
  /* position: fixed; */
  padding: 34px 114px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 38.95px;
  height: 48.21px;
}

.profile_img {
  width: 47.43px;
  height: 47.43px;
}

@media (max-width: 986px) {
  body {
    padding: 0px 40px;
  }
  header {
    padding: 26px;
  }
}

@media (max-width: 687px) {
  body {
    padding: 0px 40px;
  }
  header {
    padding: 20px;
  }
  .logo img {
    width: 32px;
    height: 44px;
  }
  .profile_img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 487px) {
  body {
    padding: 0px 20px !important;
  }
  header {
    padding: 8px;
  }
}

/* ==============================================================Hero section======================================================== */

.hero-wraper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 36px;
  margin-bottom: 100px;
}

.mobileTypeLogo {
  width: 18px;
  height: 18px;
}

.hero-wraper .title {
  font-size: 41px;
  font-weight: 700;
  line-height: 61.47px;
  margin-bottom: 12px;
  text-align: center;
}

.hero-wraper .subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 34px;
}

.heroBanner {
  max-width: 100%;
  width: 1252px;
  height: 335px;
}

.hero-wraper .subtitle .mobileTypeLogo {
  margin-left: 10px;
}

@media (max-width: 986px) {
  .hero-wraper .title {
    font-size: 38px;
  }
  .heroBanner {
    width: 800px;
    height: 200px;
  }
}

@media (max-width: 678px) {
  .overview-wraper {
    padding: 0 0px !important;
  }
  .hero-wraper .title {
    font-size: 34px;
    line-height: 48px;
  }
  .hero-wraper {
    margin-bottom: 60px;
  }
  .heroBanner {
    width: 620px;
    height: 160px;
  }
  .hero-wraper .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 428px) {
  .hero-wraper .title {
    font-size: 22px !important;
    line-height: 42px;
  }
  .heroBanner {
    width: 344px;
    height: 100px;
  }
  .hero-wraper .subtitle {
    font-size: 14px;
  }
  .mobileTypeLogo {
    width: 14px;
    height: 14px;
  }
  .hero-wraper .subtitle .mobileTypeLogo {
    margin-left: 6px;
  }
}

/* ======================================================================= overview section ============================================================ */

.overview-wraper {
  padding: 0 135px 0 186px;
  margin-bottom: 100px;
}

.overview-wraper .title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20.47px;
}

.overview-wraper .content {
  font-size: 23px;
  font-weight: 500;
  line-height: 34px;
  padding: 38px 0 74px 0;
}

.profile-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 107px;
}

.profile-description .content {
  font-size: 13.66px;
  font-weight: 400;
  line-height: 20.49px;
  padding: 12px 0;
}
.role-content {
  width: 238px;
  max-width: 100%;
}

@media (max-width: 986px) {
  .overview-wraper {
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .profile-description {
    gap: 40px;
  }
  .overview-wraper .content {
    font-size: 18px;
    line-height: 28px;
    padding: 38px 0 54px 0;
  }
  .profile-description .content {
    padding: 18px 0 38px 0;
    font-size: 13px !important;
  }
}
@media (max-width: 689px) {
  .profile-description {
    gap: 20px;
    justify-content: center;
  }
  .profile-description .content {
    padding: 26px 0 30px 0;
  }
}
@media (max-width: 487px) {
  .profile-description .content {
    padding: 16px 0 8px 0;
  }
}

/* =============================================================================== video trim section ======================================== */

.imageContent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 134px;
}
.image-wrapper {
  display: flex;
  gap: 84px;
  align-items: center;
  flex-wrap: wrap;
}
.topic {
  font-size: 45.533px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 74px;
  margin-left: 60px;
}
.mentionPage .image-wrapper img {
  max-width: 100%;
  width: 229.327px;
  height: 484.977px;
}
.contentImg-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 113px 135px 0px 186px;
  gap: 155px;
}
.contentImg-wrapper .content-container .title {
  font-size: 23px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  padding-bottom: 12px;
}
.contentImg-wrapper .content-container .content {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.api-container .image-wrapper img {
  width: 900.232px !important;
  height: 628.929px !important;
}
.api-container .contentImg-wrapper {
  flex-direction: row-reverse;
}
.sideImg {
  width: 221px !important;
  height: 190px !important;
}
.sideImage-container {
  display: flex;
}
.api-container .sideImage-container img {
  width: 179.29px !important;
  height: 146.086px !important;
}

@media (max-width: 986px) {
  .topic {
    text-align: center;
    margin-left: 0px;
    font-size: 32px;
    margin-bottom: 52px;
  }
  .mentionPage .image-wrapper img {
    width: 165.532px;
    height: 350.064px;
  }
  .contentImg-wrapper {
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 113px 80px 0px 80px;
  }
  .image-wrapper {
    display: flex;
    justify-content: center;
  }
  .sideImg {
    width: 159.543px !important;
    height: 137px !important;
  }

  .api-container .image-wrapper img {
    width: 649.801px !important;
    height: 453.971px !important;
  }
  .api-container .sideImage-container img {
    width: 105.447px !important;
    height: 105.447px !important;
  }
}
@media (max-width: 684px) {
  .topic {
    font-size: 26px;
  }
  .image-wrapper {
    gap: 60px;
  }
  .mentionPage .image-wrapper img {
    width: 114.999px;
    height: 243.199px;
  }
  .contentImg-wrapper .content-container .title {
    font-size: 18px;
  }
  .contentImg-wrapper .content-container .content {
    font-size: 12px;
  }
  .result-topic {
    font-size: 18px;
  }
  .result-content-wrapper {
    gap: 60px;
    padding-bottom: 46px;
  }
  .contentImg-wrapper {
    padding: 66px 50px 0px 50px;
  }
  .imageContent-container {
    margin-bottom: 56px;
  }
  .api-container .image-wrapper img {
    width: 451.434px !important;
    height: 315.385px !important;
  }
  .sideImg {
    width: 110.839px !important;
    height: 95px !important;
  }
  .api-container .sideImage-container img {
    width: 89.907px !important;
    height: 73.257px !important;
  }
}
@media (max-width: 462px) {
  .topic {
    font-size: 18px;
  }
  .image-wrapper {
    gap: 38px;
  }
  .contentImg-wrapper .content-container .title {
    font-size: 16px;
  }
  .contentImg-wrapper {
    padding: 66px 0px 0px 0px;
  }
  .api-container .image-wrapper img {
    width: 282.723px !important;
    height: 197.519px !important;
  }
}

.video-container video{
width: 100%;
height: 700px;
}

.video-title{
  font-size: 32px;
  padding-bottom: 30px;
}

@media (max-width: 986px){
  .video-container video{
    height: 600px;
  }
  .video-title{
    font-size: 28px;
  }
}

@media (max-width: 684px){
  .video-container video{
    height: 400px;
  }
  .video-title{
    font-size: 24px;
  }
}

/* =========================================================Footer====================================== */

.profile-touch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  margin-bottom: 32px;
}

.mailTitle {
  display: flex;
  align-items: center;
  gap: 27px;
  margin-bottom: 24px;
}

.profile-touch .mailTitle img {
  width: 57px;
  height: 56px;
}

.socialId img {
  width: 49.8px;
  height: 49.8px;
}

.mailTitle h4 {
  font-size: 44px;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 0em;
}

.mailId a {
  color: #000;
  text-decoration: none;
  font-size: 22.767px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mailId a:hover {
  color: #355295;
}

@media (max-width: 986px) {
  .mailTitle h4 {
    font-size: 32px;
    line-height: 55px;
  }
  .mailId a {
    font-size: 18px;
  }
}

@media (max-width: 687px) {
  .profile-touch .mailTitle img {
    width: 30px;
    height: 30px;
  }
  .mailTitle {
    margin-bottom: 8px;
  }
  .mailTitle h4 {
    font-size: 26px;
    line-height: 42px;
  }
  .mailId a {
    font-size: 16px;
  }
  .profile-touch {
    flex-wrap: wrap !important;
    justify-content: center;
    gap: 20px;
  }
}
